<div class="container-fluid container-fluid-custom">
<h1 style="text-align: center;margin-bottom: 1em;">About</h1>
<p style="text-align: center;"class="fs-4 mb-4">
    Welcome to NoteWise, where organization meets simplicity. Created by ADITYA and ARHYA, NoteWise is designed to streamline your note-taking experience, making it effortless to capture and organize your thoughts and ideas.
</p>
<p style="text-align: center;"class="fs-4 mb-4">
We understand that capturing your thoughts and ideas shouldn't be complicated. That's why we've crafted a seamless note-taking experience designed to elevate your productivity and creativity.
</p>
<p style="text-align: center;"class="fs-4 mb-4">
At NoteWise, we believe in the power of simplicity. Our clean and intuitive interface ensures that jotting down your thoughts, creating to-do lists, and organizing your projects is effortless. Whether you're brainstorming for a new business venture, planning your next big trip, or simply keeping track of your daily tasks, NoteWise is your trusted companion every step of the way.
</p>
<p style="text-align: center;"class="fs-4 mb-4">
We made this project under the guidance of our course instructor, RAGURU SIR. We thank him for helping and guiding us throughout our project.
</p>

</div>