<div class="container-fluid container-fluid-custom">
<h1 style="text-align: center;margin-bottom: 1.2em;">Features</h1>
<dl style="text-align: center;">
    <dt>Intuitive Interface</dt>
    <dd>Enjoy a clean and user-friendly interface designed for seamless note-taking.</dd>
    <dt>Powerful Search Functionality</dt>
    <dd>Find specific notes quickly with our powerful search feature, ensuring you never lose track of important information.</dd>
    <dt>Cross-Device Sync</dt>
    <dd>Synchronize your notes across all your devices, ensuring you can access your ideas anytime, anywhere.</dd>
    <dt>Effortless Collaboration</dt>
    <dd>Share notebooks with colleagues, friends, or family for seamless collaboration on projects or shared tasks.</dd>
    <dt>Easy Login</dt>
    <dd>No need to create a new account. Just login with your Google ID.</dd>
    <dt>Secure and Private</dt>
    <dd>With Google 0Auth be rest assured knowing that your notes are kept secure and private with NoteWise's robust security measures.</dd>
</dl>




</div>